

body, html{
  height: 100%;
  background: url('../images/austria.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.easy-title{
  position: fixed;
  top:50px;
  width: 100%;
  color: white;
  font-family: "Brush Script MT", sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
.easy-travel-main {
  position: relative;
  display: block;

  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;


  text-align: center;
  color: white;




    .content{
      padding: 15em 6em 0 8em;
      .easy-form{
        background-color: rgba(1, 37, 61, 0.71);
        padding: 20px;
      }

      .input-section{
        input{
          color: white;
          font-weight: 600;
          font-family: arial;
        }



        padding-top: 15px;
        color: teal;

        label{
          color: #00b4b4;
        }
      .button-section
        .md-button{
          margin-bottom: 30px;
          width:200px;
        }
      }

      .result-row{
        border-bottom: 1px solid #042746;
        color:black;
      }
      .first-map{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(47, 84, 121, 0.61);
      }
      .fly-segment{
        text-align: left;
        border-bottom: 1px solid rgba(47, 84, 121, 0.61);
      }
      .direction-panel{
        width: 30%;
        float:left;
        height: 300px;
        overflow: auto;
        padding: 0px 5px;
      }
    }
  md-list md-list-item.md-2-line .md-list-item-text p{
    color: #042746;
  }
  ._md-toolbar-transitions{
    background-color: rgba(47, 84, 121, 0.8588235294117647);
  }

  md-content{
    background: rgba(155, 190, 220, 0.7686274509803922);
  }

  ng-map{
    opacity: 0.7;
  }

  .text-primary{
    color:rgba(2, 34, 67, 0.9490196078431372);
    font-weight: 600;
  }

  .carrige-img{
    opacity: 0.7;
  }

     .adp-warnbox{
       display: none;
     }
  .adp-details{
    color:rgba(2, 34, 67, 0.9490196078431372);
  }
  .adp,.adp table{
    color: #042746;
    font-weight: 400;
  }

  }



