<div class="row easy-title">
  <div>Easy Travel</div>
</div>
<div class="easy-travel-main">
  <div class="content">
    <form class="easy-form" novalidate>
      <div class="input-section" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-input-container class="md-block text-primary" flex-gt-sm="">
          <label>Start address</label>
          <input ng-autocomplete ng-model="trip.originAddress" options="tripDetails.originAddress.options"
                 details="tripDetails.originAddress.details">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Destination address</label>
          <input ng-autocomplete ng-model="trip.destinationAddress" options="tripDetails.destinationAddress.options"
                 details="tripDetails.destinationAddress.details">
        </md-input-container>
      </div>
      <div class="input-section" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-input-container>
          <label>Departure date</label>
          <md-datepicker ng-model="trip.outbounddate"></md-datepicker>
        </md-input-container>
        <md-input-container>
          <label>Number of adults</label>
          <input type="number" step="any" name="adult" ng-model="trip.adults" min="1"
                 max="30"/>
        </md-input-container>
        <md-input-container>
          <label>Number of children</label>
          <input type="number" step="any" name="children" ng-model="trip.children" min="1"
                 max="30"/>
        </md-input-container>
        <md-input-container>
          <label>Number of infants</label>
          <input type="number" step="any" name="infants" ng-model="trip.infants" min="1"
                 max="30"/>
      </div>
      <div class="button-section">
        <md-button class="md-raised md-primary" type="submit" ng-click="getOptimalWay()">Search</md-button>
      </div>

    </form>
    <md-progress-linear class="md-primary loading-progress" md-mode="indeterminate"
                        ng-disabled="!loading"></md-progress-linear>

    <div class="result-section">

      <div layout="column" flex layout-fill ng-cloak>

        <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools">Search results<md-icon md-svg-src="/android.svg" aria-label="android "></md-icon></div>
        </md-toolbar>

        <md-content style="height: 100%;" md-theme="altTheme">

          <md-list layout="column" layout-padding>
            <div ng-repeat="iti in wiredData" class="result-row">
              <md-list-item class="md-2-line" ng-init="showD=false" ng-click="showD=!showD">

                <img class="carrige-img" ng-src="{{iti.leg.carrierObjList[0].imageUrl}}" style="padding-right: 10px;">

                <div class="md-list-item-text" layout="column">
                  <p class="row">
                    <span class="col-lg-4">From:</span><span class="text-primary col-lg-3"> {{iti.leg.originStation.name}}</span>
                  </p>
                  <p class="row">
                    <span class="col-lg-4">To:</span><span class="text-primary col-lg-3">{{iti.leg.destinationStation.name}}</span>
                  </p>
                </div>
                <div class="md-list-item-text" layout="column">
                  <p class="row">
                    <span class="col-lg-4">Departure:</span><span class="text-primary col-lg-8">{{iti.leg.departure| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                  </p>
                  <p class="row">
                    <span class="col-lg-4">Arrival:</span><span class="text-primary col-lg-8">{{iti.leg.arrival| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                  </p>
                </div>
                <div class="md-list-item-text md-1-line">
                  <p>Number of transfer: <span class="text-primary">{{iti.legs.segments.length+1}}</span></p>
                </div>
                <div ng-repeat="pricingOpt in iti.pricingOptions" layout="row">
                  <div class="md-list-item-text md-1-line">
                    <p>Price: <span class="text-primary">{{pricingOpt.price}} EUR</span></p>
                  </div>
                  <md-button class="md-raised md-primary" ng-href="{{pricingOpt.deeplinkUrl}}" target="_blank">Buy ticket
                  </md-button>
                </div>
              </md-list-item>

              <div ng-show="showD">
                <div layout="row" class="first-map" >
                  <ng-map zoom="5" center="auto" style="width: 70%">
                    <directions
                      draggable="true"
                      panel="directions-panel{{$index}}"
                      travel-mode="TRANSIT"
                      origin="{{trip.originAddress}}"
                      destination="{{iti.leg.originStation.name}} Airport"
                      transit-options="{{convertToTransitOptions(iti.leg.segments[0].departureDateTime,true)}}"
                    >
                    </directions>
                  </ng-map>
                  <div id="directions-panel{{$index}}" class="direction-panel">
                  </div>
                </div>
                <div ng-repeat="seg in iti.leg.segments" class="fly-segment" >
                  <md-list-item class="md-2-line row">
                    <div class="md-list-item-text col-lg-6" layout="column">
                      <p class="row" >
                          <span class="col-lg-4" style="display: flex" ><i class="material-icons" style="padding-right: 5px;">flight_takeoff</i>Origin:</span>
                          <span class="col-lg-8 text-primary">{{seg.origin.name}} Airport</span>
                      </p>
                      <p class="row" >
                        <span class="col-lg-4"  style="display: flex" ><i class="material-icons" style="padding-right: 5px;">flight_land</i>Destionation:</span>
                        <span class="col-lg-8 text-primary">{{seg.destination.name}} Airport</span>
                      </p>
                    </div>
                    <div class="md-list-item-text  col-lg-6" layout="column" >
                      <p class="row">
                        <span class="col-lg-3">Departure:</span><span class="col-lg-5 text-primary">{{seg.departureDateTime| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                      </p>
                      <p class="row">
                        <span class="col-lg-3">Arrival:</span><span class="col-lg-5 text-primary">{{seg.arrivalDateTime| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                      </p>
                    </div>
                  </md-list-item>

                </div>
                <div layout="row" style="margin-top: 10px;">
                  <ng-map zoom="5" center="auto" style="width: 70%">
                    <directions
                      draggable="true"
                      panel="directions-panel-end{{$index}}"
                      travel-mode="TRANSIT"
                      origin="{{iti.leg.destinationStation.name}} Airport"
                      destination="{{trip.destinationAddress}}"
                      transit-options="{{convertToTransitOptions(iti.leg.segments.slice(-1)[0].arrivalDateTime,false)}}"
                    >
                    </directions>
                  </ng-map>
                  <div id="directions-panel-end{{$index}}"
                       style="width: 30%; float:left; height: 300px; overflow: auto; padding: 0px 5px">
                  </div>
                </div>
              </div>
            </div>
          </md-list>

        </md-content>
      </div>
    </div>
  </div>

</div>
